{% extends 'administracao.html' %}

{% load static %}

{% load bootstrap %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/admin/projetos_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/efeitos.css' %}">
{% endblock %}

{% block admin %}
<div class="container">
    <h1>Todos os projetos:</h1>
    <div class=" col-5 text-center">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row">
        {% for projeto in projetos %}
            <div class="col-md">
                <div class="card_imovel">
                    <a class="a_none" href="">
                        {% if projeto.img_projeto %}
                            <img class="img_capa_imovel" src="{{projeto.img_projeto.url}}" alt="" target="_blank"> 
                        {% else %}
                            <h2>Sem imagem</h2>
                        {% endif %}
                    </a>
                    <div class="informacoes_imoveis">
                        <h5 id="texto-limite" class="valor">{{projeto.nome}}</h5>
                        <h5> 
                            ID: {{projeto.id}}
                            <span class="text-success">
                                <strong>
                                Ok
                            </strong>
                            </span>
                        </h5>
                        <div class="box">
                            <a href="{% url 'editar_projeto' projeto.id %}" style="width: 100%; margin-bottom: 5px;" class="btn btn-outline-primary" >Editar</a>
                            <a href="{% url 'deletar_projeto' projeto.id %}" style="width: 100%;" class="btn btn-outline-danger">Deletar</a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        {% endfor %}
    </div>

        <div class="pagination">
            <span class="step-links">
                {% if projetos_todos.has_previous %}
                    <a href="?page=1">&laquo; Primeira</a> |
                    <a href="?page={{ projetos_todos.previous_page_number }}&q={% if  request.GET.q %}{{ request.GET.q }}{% endif %}">Anterio</a>
                {% endif %}
    
                <br>
                <span class="current" style="color: black;">
                    Página {{ projetos_todos.number }} de {{ projetos_todos.paginator.num_pages }}.
                </span>
    
                {% if projetos_todos.has_next %}
                    <a href="?page={{ projetos_todos.next_page_number }}&q={% if  request.GET.q %}{{ request.GET.q }}{% endif %}">Próximo</a> |
                    <a href="?page={{ projetos_todos.paginator.num_pages }}"> Ultima &raquo;</a>
                {% endif %}
            </span>
            </div>
        </div>
        <br>
    </div>
    
</div>
{% endblock %}