{% extends 'base.html' %}

{% load static %}

{% block titulo %}
  {{produto.produto_nome}}
{% endblock %}

{% block conteudo %}
<div id="bicicleta">
  <main>
    <div>
      <div class="titulo container">
        <p class="font-2-xl cor-5">R$ {{produto.produto_valor}}</p>
        <h1 class="font-1-xxl cor-0">{{produto.produto_nome}}<span class="cor-p1">.</span></h1>
      </div>
    </div>
    <div class="bicicleta container">

      <div class="bicicleta-imagens">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for img in produto.produto_imagens.all %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}" >
                  <img class="d-block w-100"  src="{{img}}" alt="First slide">
              </div>
            {% endfor %}
          </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

      </div>
      <div class="bicicleta-conteudo">
        <p class="font-2-l cor-5">{{produto.produto_descricao}}</p>
        <div class="bicicleta-comprar">
          <a class="botao" href="../orcamento.html">Comprar Agora</a>
          <span class="font-1-xs cor-6"><img src="../img/icones/entrega.svg" alt=""> 7 dias de garantia</span>
          <span class="font-1-xs cor-6"><img src="../img/icones/estoque.svg" alt=""> 50 disponíveis</span>
        </div>

        <h2 class="font-1-xs cor-0">Informações</h2>
        <ul class="bicicleta-informacoes">
          <li>
            <img src="../img/icones/eletrica.svg" alt="">
            <h3 class="font-1-m cor-0">Motor Elétrico</h3>
            <p class="font-2-xs cor-5">Permite você viajar distâncias inimaginaveis com a sua bike.</p>
          </li>
          <li>
            <img src="../img/icones/velocidade.svg" alt="">
            <h3 class="font-1-m cor-0">45 km/h</h3>
            <p class="font-2-xs cor-5">A mais rápida bicicleta elétrica disponível hoje no mercado.</p>
          </li>
          <li>
            <img src="../img/icones/rastreador.svg" alt="">
            <h3 class="font-1-m cor-0">Rastreador</h3>
            <p class="font-2-xs cor-5">Rastreador e sistema anti-furto para garantir o seu sossego.</p>
          </li>
          <li>
            <img src="../img/icones/carbono.svg" alt="">
            <h3 class="font-1-m cor-0">Fibra de Carbono</h3>
            <p class="font-2-xs cor-5">Maior proteção possível para a sua Bikcraft com fibra de carbono.</p>
          </li>
        </ul>
        <h2 class="font-1-xs cor-0">Ficha Técnica</h2>
        <ul class="bicicleta-ficha font-2-s cor-4">
          <li>Peso <span>9 kg</span></li>
          <li>Altura <span>60 cm</span></li>
          <li>Largura <span>120 cm</span></li>
          <li>Profundidade <span>10 cm</span></li>
          <li>Marchas <span>16</span></li>
          <li>Roda <span>29</span></li>
        </ul>
      </div>
    </div>
  </main>

  <article class="bicicletas-lista container">
    <h2 class="font-1-xxl">escolha a sua<span class="cor-p1">.</span></h2>

    <ul>
      <li>
        <a href="./nimbus.html">
          <img src="../img/bicicletas/nimbus.jpg" alt="Bicicleta preta">
          <h3 class="font-1-xl">Nimbus Stark</h3>
          <span class="font-2-m cor-8">R$ 4999</span>
        </a>
      </li>
      <li>
        <a href="./nebula.html">
          <img src="../img/bicicletas/nebula.jpg" alt="Bicicleta preta">
          <h3 class="font-1-xl">Nebula Cosmic</h3>
          <span class="font-2-m cor-8">R$ 3999</span>
        </a>
      </li>
    </ul>
  </article>

  <article class="seguro-bg">
    <div class="seguro container">
      <div class="seguro-imagem">
        <img src="../img/fotos/seguros.jpg" alt="Pessoa parada em cima de uma bicicleta.">
      </div>
      <div class="seguro-conteudo">
        <h2 class="font-1-xxl cor-0">Pedale mais tranquilo com o nosso <span class="cor-p1">seguro.</span></h2>
        <p class="font-2-l cor-5">Inscreva-se em um dos planos do nosso seguro Bikcraft e aproveite diversos benefícios.</p>
        <a class="botao" href="../seguros.html">Conheça Mais</a>
      </div>
    </div>
  </article>

</div>
{% endblock conteudo %}