{% extends 'base.html' %}

{% load static %}

{% block titulo %}
  {{produto.produto_nome}}
{% endblock %}

{% block conteudo %}
<style>
  .titulo{
    margin-bottom: -25px;
  }
  .margin_main{
    margin-bottom: -50px;
  }
</style>
<div id="bicicleta">
  <!--enctype="multipart/form-data"-->
  <form method="POST"  action="{% url 'meu_produto' produto.id %}">
    {% csrf_token %}
    <main>
      <div>
        <div class="titulo container">
          <h1 class="font-1-xxl text-">{{produto.produto_nome}}<span class="cor-p1">.</span></h1>
          <h2 class="font-1-xl" style="color: green;">R$ {{produto.produto_valor}},00</h2>
        </div>
      </div>
      <div class="bicicleta container margin_main">
        <div class="bicicleta-imagens">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"  style="height: 540px;">
              {% for img in produto.produto_imagens.all %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}" >
                  <img class="d-block w-100 img-fluid"  style="height: 500px;" src="{{img}}" alt="First slide">
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="bicicleta-conteudo">
          <p class="font-2-l">{{produto.produto_descricao}}</p>
          <div class="bicicleta-comprar">
            <button class="botao" type="submit">Comprar agora</button>

            <span class="font-1-xs cor-6"><img src="../img/icones/entrega.svg" alt=""> 7 dias de garantia</span>
            <span class="font-1-xs cor-6"><img src="../img/icones/estoque.svg" alt=""> {{produto.produto_disponiveis}} disponíveis</span>
          </div>

        </div>
      </div>
    
        </div>
    </main>
  </form> 

<article class="container">
  <div class="row">
    <div class="col-sm">
      <h2 class="font-1-xl cor-10">Informações</h2>
      <ul class="bicicleta-informacoes">
        <li>
          <img src="../img/icones/eletrica.svg" alt="">
          <h3 class="font-1-m cor-0">Status</h3>
          {% if produto.produto_status == 'D' %}
          <p class="font-2-xs cor-5">Disponível</p>
          {% elif produto.produto_status == 'A' %}
          <p class="font-2-xs cor-5">Em atualização</p>
          {% elif produto.produto_status == 'C' %}
          <p class="font-2-xs cor-5">Indisponível</p>
          {% endif %}
        </li>
        <li>
          <img src="../img/icones/velocidade.svg" alt="">
          <h3 class="font-1-m cor-0">Pagamento</h3>
          {% if produto.pagamento_tempo == 'M' %}
          <p class="font-2-xs cor-5">Mensal</p>
          {% elif produto.pagamento_tempo == 'T' %}
          <p class="font-2-xs cor-5">Trimestral</p>
          {% elif produto.pagamento_tempo == 'A' %}
          <p class="font-2-xs cor-5">Anual</p>
          {% elif produto.pagamento_tempo == 'V' %}
          <p class="font-2-xs cor-5">Vitalício</p>
          {% endif %}
        </li>
        <li>
          <img src="../img/icones/rastreador.svg" alt="">
          <h3 class="font-1-m cor-0">Categoria</h3>
          <p class="font-2-xs cor-5">{{produto.produto_caregoria}}</p>
        </li>
        <li>
          <img src="../img/icones/carbono.svg" alt="">
          <h3 class="font-1-m cor-0">Suporte</h3>
          <p class="font-2-xs cor-5">{{produto.produto_dia_suporte}}</p>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <h2 class="font-1-xl cor-10">Pagamento</h2>
      <ul class="bicicleta-informacoes">
        <li>
          <img style="width: 150px; height:100%" src="{{produto.produto_pix.url}}" alt="">
        </li>
        <li>
          <h3 class="font-1-m cor-0">CÓDIGO PIX:</h3>
          <h3 class="font-4-xs cor-2">{{produto.produto_pix_codigo}}</h3>
        </li>
      </ul>
    </div>
  </article>
<!--
  <article class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="bicicleta-ficha font-2-s cor-4">
          <h2 class="font-1-xl cor-10">Passo a passo</h2>
          <p>basta escolher qual produto deseja adquirir</p>
          <li>1: Efetuar o cadastro no sistema <a class="text-success" href="{% url 'login' %}">"Clique aqui para se cadastrar"</a> </li>
          <li>2: Fazer o pagamento (Pix) ou (Cartão de cédito)</li>
          <li>3: Anexar o comprovante do produto ou pode enviar print do produto e comprovante para 74981199190</li>
          <li>4: Dentro de 24 horas receberá o produto escolhido no email ou whatsapp</li>
        </ul>
      </div>
    </div>
  </article>
-->
  <article class="bicicletas-lista container">
    <h2 class="font-1-xxl">Outros produtos<span class="cor-p1">.</span></h2>
    <ul>
      {% for sugestao in sugestoes %}
      <li class="col-md-4">
        <a href="{% url 'produto_id' sugestao.id %}">
          {% if sugestao.produto_img %}
            <img class="bicicletas-imagem img fluid" style="height: 300px; width: 100%;" src="{{ sugestao.produto_img.url }}" alt="Bicicleta preta">
          {% else %}
            <img class="bicicletas-imagem img fluid" style="height: 300px; width: 100%;" src="{% static 'media/git/dev.gif' %}" alt="Bicicleta preta">
          {% endif %}
          <h3 class="font-1-xl">{{sugestao.produto_nome}}</h3>
          <span class="font-2-m cor-8">R$ {{sugestao.produto_valor}},00</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </article>

</div>
{% endblock conteudo %}