{% extends 'administracao.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/admin/produtos_admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/efeitos.css' %}">
{% endblock %}

{% block admin %}

<div class="container">
    <h1> Produtos </h1>

    <div style="align-items: center; display:flex; justify-content: center;">
        {% csrf_token %}
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class=" col-md-6 alert {{message.tags}} alert-dismissible fade show" style="display:flex; justify-content: center;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
      </div>

    <div class="row">
        {% for produto in produtos_ %}
            <div class="col-md">
                <div class="card_imovel">
                    <a class="a_none" href="{% url 'produto_id' produto.id %}" target="_blank">
                        <img class="img_capa_imovel"  src="{{produto.produto_img.url}}">
                    </a>
                    <div class="informacoes_imoveis">
                        <h5 id="texto-limite" class="valor">{{produto.produto_nome}}</h5>
                        <h4> 
                            R$ {{produto.produto_valor}}
                            <span class="text-success">
                                <strong>
                                Ativo
                            </strong>
                            </span>
                        </h4>
                        <div class="box">
                            <a href="{% url 'editar_produto' produto.id  %}" class="btn btn-outline-primary">Editar</a>
                            <a href="{% url 'deletar_produto' produto.id  %}" class="btn btn-outline-danger">Deletar</a>
                            <img width="10%" src="{% static 'css/admin/img/heart.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if todos_produtos.has_previous %}
                <a href="?page=1">&laquo; Primeira</a> |
                <a href="?page={{ todos_produtos.previous_page_number }}&q={% if  request.GET.q %}{{ request.GET.q }}{% endif %}">Anterio</a>
            {% endif %}

            <br>
            <span class="current" style="color: black;">
                Página {{ todos_produtos.number }} de {{ todos_produtos.paginator.num_pages }}.
            </span>

            {% if todos_produtos.has_next %}
                <a href="?page={{ todos_produtos.next_page_number }}&q={% if  request.GET.q %}{{ request.GET.q }}{% endif %}">Próximo</a> |
                <a href="?page={{ todos_produtos.paginator.num_pages }}"> Ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
</div>

{% endblock %}