{% extends 'administracao.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/admin/index_admin.css' %}">
{% endblock %}

{% block titulo %} Home {% endblock titulo %}

{% block admin %}
<div class="container fundo">
    <div class="row">
        <div class="col-sm caixa-saldo">
            <h4 class="titulo-caixa">Pagos</h4>
            <h2 class="text-success">R$ 500,00</h2>
        </div>
        <div class="col-sm caixa-saldo2">
            <h4 class="titulo-caixa">Aguardando</h4>
            <h2 class="text-warning">R$ 300,00</h2>
        </div>
        <div class="col-sm caixa-saldo3">
            <h4 class="titulo-caixa">Reembolsados</h4>
            <h2 class="text-danger">R$ -0,00</h2>
        </div>
        <div class="col-sm caixa-saldo4">
            <h4 class="titulo-caixa">Total</h4>
            <h2 class="text-success"><strong>R$ 500,00</strong></h2>
        </div>
    </div>

    <div class="row margin-row">
        <div class="col-sm caixa-info">
            <h4 class="titulo-caixa">Informações</h4>
            <p>Informações</p>
        </div>
    
        <div class="col-sm caixa-info">
            <h4 class="titulo-caixa">Informações</h4>
            <p>Informações</p>
        </div>

        <div class="col-sm caixa-info">
            <h4 class="titulo-caixa ">Informações</h4>
            <p>Informações</p>
        </div>
    </div>
</div>

{% endblock admin %}