{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}{% endblock %}
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/botao.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/banners.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!--ICONS AWESOME-->
    <!-- Our project just needs Font Awesome Free's Solid + Brand files -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <!-- Javascript customizado -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous"/>

    <title>TK Technology - {% block titulo %}{% endblock %}</title>
    <link rel="shortcut icon" type="imagex/png" href="{% static 'img/icon.ico' %}">
</head>

<body>
    {% include '_cabecalho.html' %} {% block conteudo %}{% endblock %}
    <footer class="mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        <a class="ml-3" href="/">Home</a>
                        <a class="ml-3" href="{% url 'projetos' %}">Projetos</a>
                        <a class="ml-3" href="{% url 'produtos' %}">Produtos</a>
                        <!--<a class="ml-3" href="{% url 'sobre' %}">Currículo</a>-->
                    </p>
                </div>
                <div class="col-md-4 flex justify-content-end">
                    <a href="" class="btn btn-outline-dark">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- ICONS DE - WHATSAPP, GITHUB E LINKEDIN-->
    <div>
        <a href="https://github.com/By-Lucas" style="position:fixed;width:50px;height:50px;bottom:150px;right:30px;background-color:#0a0e0b;color:#FFF;border-radius:50px;text-align:center;font-size:25px;box-shadow: 1px 1px 2px #888;
            z-index:1000;" target="_blank">
            <i style="margin-top:16px" class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/lucastk/" style="position:fixed;width:50px;height:50px;bottom:95px;right:30px;background-color:#124c97;color:#FFF;border-radius:50px;text-align:center;font-size:25px;box-shadow: 1px 1px 2px #888;
            z-index:1000;" target="_blank">
            <i style="margin-top:16px" class="fab fa-linkedin"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=5574981199190&text=Ol%C3%A1%20Lucas%2C%20tudo%20bem%3F" style="position:fixed;width:50px;height:50px;bottom:40px;right:30px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:25px;box-shadow: 1px 1px 2px #888;
            z-index:1000;" target="_blank">
            <i style="margin-top:16px" class="fab fa-whatsapp"></i>
        </a>
    </div>

    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- OPCOES FLUTUANTE-->
    <script src="{% static 'js/rede_flutuante.js' %}" crossorigin="anonymous"></script>

</body>

</html>