{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Benefícios
{% endblock %}

{% block conteudo %}
    <section class="caixa"><!--/Início seção saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="align-self-center">
              <h2>Saiba para onde vai o seu dinheiro</h2>
              <p>
                Com o Finans, você categoriza todos os seus lançamentos. Com gráficos simples, você sabe de onde vem e para onde vai o seu dinheiro.
              </p>
              <a href="" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
        </div>
      </div>
    </section><!--/FIM seção saiba -->
{% endblock %}
