{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Sobre
{% endblock %}

{% block conteudo %}
    <section class="caixa"><!--/Início seção saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="align-self-center">
              <h2>Sobre</h2>
              <h3>Em desenvolvimento</h3>
              <p>
                Sobre mim e aTK Technology sera postado aqui em breve.
              </p>
              <a href="" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
        </div>
      </div>
    </section><!--/FIM seção saiba -->
{% endblock %}
